<!--The content below is only a placeholder and can be replaced.-->
<div class="rx-container">
  <mat-toolbar color="primary" class="rx-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>RXDataTable</span>
      <span class="toolbar-spacer"></span>
      <a target="_blank" href="https://github.com/abnerey/rx-data-table" class="spacer-icon">
        <mat-icon>code</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="rx-sidenav-container">
    <mat-sidenav #snav [mode]="'side'" fixedTopGap="56" [opened]="true">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/basic']">Data Table Basic</a>
        <a mat-list-item [routerLink]="['/group']">Data Table Group</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <div style="text-align:center">
            <!-- <h1>Welcome to {{ title }}!</h1> -->
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
